.nav-link, .navbar-brand{
	color:white !important;
}

.show{
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:80px;
	background:skyblue;
	transition:0.7s;
	overflow:hidden;
	display:flex;
	justify-content:center;
	background:#212529;
	box-shadow:2px 2px 20px grey;
}

.link {
	font-size:15px;
	margin:10px;
	text-decoration:none;
	color:white;
}

.link:hover{
	color:white;
	text-decoration:none;
}

.menu {
	margin:8px;
}

.hiden{
	height:0px;
}

.hamburger{
	color:white;
	font-size:20px;
}


.cover{
	width:100%;
	height:300px;
}

.profile{
	display:flex;
	justify-content:center;
	align-items:center;
}

.profile img{
    width:200px;
	height:200px;
	border-radius:50%;
	margin-top:-100px;
	border:5px solid white;
}

h3, h1{
	color:white;
}

li{
	color:white;
	list-style-type:none;
	font-size:20px;
}

li a{
	color:white;
	text-decoration:none
}
li a:hover{
	color:white;
	text-decoration:none
}

.scontainer{
	background:#3a3b3c;
	padding:20px;
	border-radius:10px;
	margin-bottom:20px;
}

.rtop{
    margin-top:50px;
}

.mtop{
	margin-top:80px;
}

.scontainer i {
	margin-right:10px;
	color:#ddd;
	margin-top:10px;
}

.scontainer p {
	color:white;
}

.skill {
  width: 100%;
  background-color: #ddd;
  border-radius:10px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 70%; background-color: #808080;}
.native {width: 70%; background-color: #4CAF50;}
.java {width: 50%; background-color: #2196F3;}

.navbar{
	background-color:#212529 !important;
}

.project{
	width:100%;
	height:200px;
}

.myform{
	background:#3a3b3c;
	border:none;
	outline:none;
	width:100%;
	color:white;
	padding:5px;
	border-radius:8px;
}

.sform{
	width:50%;
}

.mybutton{
	width:100%;
	background:black;
	border:none;
	outline:none;
	padding:8px;
	color:white;
}

.mybutton:hover{
	opacity:0.5;
}

.mphoto{
	width:100%;
}

.logo{
	width:120px;
	height:40px;
}

body{
	background:#212529;
}

@media only screen and (max-width:600px) {
	.rmargin{
		margin-top:10px;
	}

	.scontainer{
	margin-bottom:8px;
   }

   .sform{
	width:100%;
   }
}